<header class="toolbar">
  <button class="icon-code" ng-click="newFile()"></button>
  <button class="icon-disk" ng-click="saveFile()"></button>
  <button class="icon-folder" ng-click="openFile()"></button>
  <div class="right">
    <button class="icon-pencil" ng-click="setMode('md')" ng-class="{active: isMode('md')}"></button>
    <button class="icon-eye" ng-click="setMode('preview')" ng-class="{active: isMode('preview')}"></button>
    <button class="icon-code" ng-click="setMode('html')" ng-class="{active: isMode('html')}"></button>
  </div>
</header>
