.ngdialog-content input[type='text'] {
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  padding: 2px 3px;
  width: 100%;
  box-sizing: border-box;
}

.file {
  background: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 2px 0;
  padding: 2px 4px;
  cursor: pointer;
  position: relative;

  &:hover {
   background: #f7f7f7;
  }
}

.tag {
  background: #3B6BCF;
  padding: 0 2px;
  color: #fff;
  font-size: 11px;
  border-radius: 2px;
  margin-right: 4px;
}

.files-container {
  height: 200px;
  overflow: overlay;

  .date {
    color: #777;
    font-size: 11px;
    position: absolute;
    right: 5px;
  }
}
