@import "colors";
@import "utils";
@import "buttons";
@import "content";
@import "toolbar";

html, body {
  //overflow: hidden;
}

html {
  position: relative;
}

body {
  margin: 5px 10px;
  padding: 0;
  max-height: 100vh;
  overflow: hidden;
}

header {
  height: 35px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
}

.icon-close {
  color: @tab-font-color;
  font-size: 7px;
  text-decoration: none;
  margin: 0 0 0 2px;
}

.container {
  height: 100%;
}

.content, .CodeMirror, .preview {

}

.content {
  height: 100vh;
}

.preview {
  overflow: auto;
}

#sidebar {
  right: 0;
  position: absolute;
  height: 100%;
  width: 29%;
  padding: 3px 2px;
}

.panel {
  border-bottom: 1px dotted #eee;
}

.tab {
  background: @tab-normal-color;
  padding: 3px 7px;
  display: inline-block;
  border-width: 1px 1px 0px 1px;
  border-color: #E0E0E0;
  border-style: solid;
  border-radius: 3px 3px 0px 0;
  color: @tab-font-color;
}
