header.toolbar {
  height: 25px;
  background-color: #F7F7F7;
  margin-bottom: 5px;
  border-width: 1px 0 1px 0;
  border-style: dashed;
  border-color: #EEE;
  padding: 0 10px;

  button {
    border: none;
    outline: none;
    color: #636363;
    background: rgba(0, 0, 0, 0);
    height: 24px;
    width: 23px;
    font-size: 15px;
    padding: 0;
    cursor: pointer;

    &:hover {
      color: #333;
    }

    &.active {
      color: @active-color;
    }
  }

}
