<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<title>Horn</title>

    <link rel="stylesheet" href="styles/kirin.css">

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <!-- Keymaster -->
    <script src="components/keymaster/keymaster.js"></script>
    <!-- CodeMirror -->
    <link rel="stylesheet" href="components/codemirror/lib/codemirror.css">
    <script src="components/codemirror/lib/codemirror.js"></script>
    <script src="components/codemirror/addon/mode/overlay.js"></script>
    <script src="components/codemirror/mode/markdown/markdown.js"></script>
    <script src="components/codemirror/mode/gfm/gfm.js"></script>
    <script src="components/codemirror/mode/javascript/javascript.js"></script>
    <script src="components/codemirror/mode/xml/xml.js"></script>
    <script src="components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="components/codemirror/mode/markdown/markdown.js"></script>
    <script src="components/codemirror/mode/sql/sql.js"></script>
    <!-- lodash -->
    <script src="components/lodash/dist/lodash.min.js"></script>
    <!-- ngDialog -->
    <script src="components/ngDialog/js/ngDialog.js"></script>
    <link href="components/ngDialog/css/ngDialog-theme-default.css" rel="stylesheet">
    <link href="components/ngDialog/css/ngDialog-theme-plain.css" rel="stylesheet">
    <link href="components/ngDialog/css/ngDialog.css">
    <!-- -->
    <link href="styles/horn.css" rel="stylesheet">
    <link href="styles/icomoon.css" rel="stylesheet">


    <script src="scripts/app.js"></script>
    <script src="scripts/module.js"></script>

</head>
<body ng-app="Horn" ng-csp>
  <div ng-controller="BaseCtrl as base">
    <div class="loader-container" ng-show="loader">
      <div class="loader"></div>
    </div>
    <tabs items="base.tabs" current="base.current"></tabs>
    <toolbar>
      <button class="icon-file" ng-click="base.newFile()"></button>
      <button class="icon-disk" ng-click="base.saveFile()"></button>
      <button class="icon-folder" ng-click="base.openFile()"></button>

      <div class="right">
        <button class="icon-pencil" ng-click="base.setMode('md')" ng-class="{active: base.isMode('md')}"></button>
        <button class="icon-eye" ng-click="base.setMode('preview')" ng-class="{active: base.isMode('preview')}"></button>
        <button class="icon-code" ng-click="base.setMode('html')" ng-class="{active: base.isMode('html')}"></button>
      </div>
    </toolbar>
    <editor mode="base.mode">

    </editor>
    <script src="components/marked/lib/marked.js"></script>
    <script src="components/siftjs/sift.min.js"></script>
</body>

</html>
